<!-- Footer
		============================================= -->
		<footer id="footer" class="dark" style="background-color: #1f2024;">

			<div class="container">

                <!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap row clearfix">

                </div>
            </div>
        </footer>
    