<header id="header" class="sticky-style-2">
        <div class="container clearfix">
            <div class="row justify-content-between clearfix">
                <div class="col-md-4 col-sm-3 d-none d-sm-inline-flex align-self-center">
                    <a href="#" class="social-icon inline-block si-small si-rounded si-dark si-mini si-facebook">
                        <i class="icon-github"></i>
                    </a>
                </div>

                <div class="col-md-4 col-sm-5 col-8 align-self-center">
                    <!-- Logo
                    ============================================= -->
                    <div id="logo" class="divcenter nomargin">
                        <a href="#" class="standard-logo"><img class="divcenter" src="demos/news/images/logo.png" alt="Canvas Logo"></a>
                        <a href="#" class="retina-logo"><img class="divcenter" src="demos/news/images/logo@2x.png" alt="Canvas Logo"></a>
                    </div><!-- #logo end -->
                </div>

                <div class="col-sm-4 col-4 align-self-center nomargin">
                    <ul class="nav justify-content-end">
                        <li class="entry-categories mt-3 d-none d-sm-inline-block" style="position: relative; left: auto;">
                            <a class="date-today bg-dark uppercase t500" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="header-wrap">
            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="with-arrows style-2 clearfix">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <ul>
                        <li class="active menu-color-home"><a href="/"><div>Home</div></a></li>
                        <li class="menu-color-travel"><a href="/saved"><div>Saved</div></a></li>
                    </ul>

                    <!-- Mobile Menu
                    ============================================= -->
                    <ul class="mobile-primary-menu">
                        <li class="active menu-color-home"><a href="/"><div>Home</div></a></li>
                        <li class="menu-color-travel"><a href="/saved"><div>Saved</div></a></li>
                    </ul>

                    <!-- Bookmark
                    ============================================= -->
                    <div id="float-right" style="margin: auto 0px; float: right;">
                        <a href="/scrape" class="button button-border button-border-thin button-green"><i class="icon-repeat"></i>Scrape Articles!</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>