		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="row clearfix">
                        <!-- Posts Area
						============================================= -->
						<div class="col-lg-12">

							<!-- Tab Menu
							============================================= -->
							<nav class="navbar navbar-expand-lg navbar-light p-0">
								<h4 class="mb-0 pr-2 ls1 uppercase t700">Latest News By Categories</h4>
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler1" aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
									<i class="icon-line-menu"></i>
								</button>

								<div class="collapse navbar-collapse justify-content-between" id="navbarToggler1">
									<div></div>
									<ul class="nav nav-sm navbar-nav mr-md-auto mr-lg-0 mt-2 mt-lg-0 align-self-end" role="tablist">
										<li class="nav-item">
											<a class="nav-link bg-color-travel active" id="nav-outdoor-tab" data-toggle="tab" href="#nav-outdoor" role="tab" aria-selected="true">Travel</a>
										</li>
										<li class="nav-item">
											<a class="nav-link bg-color-food" id="nav-food-tab" data-toggle="tab" href="#nav-food" role="tab" aria-selected="false">Food</a>
										</li>
										<li class="nav-item">
											<a class="nav-link bg-color-sports" id="nav-travel-tab" data-toggle="tab" href="#nav-outdoor" role="tab" aria-selected="false">Sports</a>
										</li>
										<li class="nav-item">
											<a class="nav-link bg-color-fashion" id="nav-fashion-tab" data-toggle="tab" href="#nav-fashion" role="tab" aria-selected="false">Fashion</a>
										</li>
									</ul>
								</div>
							</nav>
							<!-- Tab Content
							============================================= -->
							<div class="line line-xs line-dark"></div>
							<div class="tab-content" id="nav-tabContent">
								<!-- Tab Content 1
								============================================= -->
								<div class="tab-pane fade show active" id="nav-outdoor" role="tabpanel" aria-labelledby="nav-outdoor-tab">
									<div class="row clearfix">
										<div class="col-lg-6">
											<!-- Post Article -->
											<article class="entry nobottomborder nobottommargin">
												<div class="entry-image mb-3">
													<a href="#"><img src="demos/news/images/posts/travel/3.jpg" alt="Image 3"></a>
													<div class="entry-categories"><a href="#" class="bg-travel">Travel</a></div>
												</div>
												<div class="entry-title">
													<h3><a href="#">How I Improved My Travel In One Easy Lesson</a></h3>
												</div>
												<ul class="entry-meta clearfix">
													<li><span>by</span> <a href="#">John Doe</a></li>
													<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
													<li><a class="save"><span><i class="icon-bookmark"></i></span></a></li>
												</ul>
												<div class="entry-content clearfix">
													<p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis. Lorem ipsum dolor sit amet.</p>
												</div>
											</article>
										</div>
										<div class="col-lg-6">
											<!-- Post Article -->
											<article class="spost clearfix">
												<div class="entry-image">
													<a href="#"><img src="demos/news/images/posts/travel/small/1.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4 class="t600"><a href="#">Rules not to Follow about Travel</a></h4>
													</div>
													<ul class="entry-meta clearfix">
														<li><span>by</span> <a href="#">John Doe</a></li>
														<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
													</ul>
												</div>
											</article>
											<!-- Post Article -->
											<article class="spost clearfix">
												<div class="entry-image">
													<a href="#"><img src="demos/news/images/posts/travel/small/2.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4 class="t600"><a href="#">Can You Pass The Travel Test?</a></h4>
													</div>
													<ul class="entry-meta clearfix">
														<li><span>by</span> <a href="#">John Doe</a></li>
														<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
													</ul>
												</div>
											</article>
											<!-- Post Article -->
											<article class="spost clearfix">
												<div class="entry-image">
													<a href="#"><img src="demos/news/images/posts/travel/small/4.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4 class="t600"><a href="#">Cheaper/Faster Travel than You Ever Imagined</a></h4>
													</div>
													<ul class="entry-meta clearfix">
														<li><span>by</span> <a href="#">John Doe</a></li>
														<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
													</ul>
												</div>
											</article>
											<!-- Post Article -->
											<article class="spost clearfix">
												<div class="entry-image">
													<a href="#"><img src="demos/news/images/posts/fashion/small/2.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4 class="t600"><a href="#">Believe In Your Travel Skills But Never Stop Improving</a></h4>
													</div>
													<ul class="entry-meta clearfix">
														<li><span>by</span> <a href="#">John Doe</a></li>
														<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
													</ul>
												</div>
											</article>
											<!-- Post Article -->
											<article class="spost clearfix">
												<div class="entry-image">
													<a href="#"><img src="demos/news/images/posts/market/small/3.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4 class="t600"><a href="#">Why Most People Will Never Be Great At Travel</a></h4>
													</div>
													<ul class="entry-meta clearfix">
														<li><span>by</span> <a href="#">John Doe</a></li>
														<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
													</ul>
												</div>
											</article>
										</div>
									</div>
								</div>
								<!-- Tab Content 2
								============================================= -->
								<div class="tab-pane fade" id="nav-food" role="tabpanel" aria-labelledby="nav-food-tab">
									<div class="row clearfix">
										<div class="col-lg-6">
											<!-- Post Article -->
											<article class="entry nobottomborder nobottommargin">
												<div class="entry-image mb-3">
													<a href="#"><img src="demos/news/images/posts/food/1.jpg" alt="Image 3"></a>
													<div class="entry-categories "><a href="#" class="bg-food">Food</a></div>
												</div>
												<div class="entry-title">
													<h3><a href="#">The Secret To Food eat lunch Is Revealed</a></h3>
												</div>
												<ul class="entry-meta clearfix">
													<li><span>by</span> <a href="#">John Doe</a></li>
													<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
												</ul>
												<div class="entry-content font-secondary clearfix">
													<p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis. Lorem ipsum dolor sit amet.</p>
												</div>
											</article>
										</div>
										<div class="col-lg-6">
											<!-- Post Article -->
											<article class="spost clearfix">
												<div class="entry-image">
													<a href="#"><img src="demos/news/images/posts/food/small/2.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4 class="t600"><a href="#">How To Turn Food eat lunch Into Success</a></h4>
													</div>
													<ul class="entry-meta clearfix">
														<li><span>by</span> <a href="#">John Doe</a></li>
														<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
													</ul>
												</div>
											</article>
											<!-- Post Article -->
											<article class="spost clearfix">
												<div class="entry-image">
													<a href="#"><img src="demos/news/images/posts/food/small/3.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4 class="t600"><a href="#">MIT's new robot glove can give you extra fingers.</a></h4>
													</div>
													<ul class="entry-meta clearfix">
														<li><span>by</span> <a href="#">John Doe</a></li>
														<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
													</ul>
												</div>
											</article>
											<!-- Post Article -->
											<article class="spost clearfix">
												<div class="entry-image">
													<a href="#"><img src="demos/news/images/posts/food/small/4.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4 class="t600"><a href="#">Use Food to make Someone fall in Love With You</a></h4>
													</div>
													<ul class="entry-meta clearfix">
														<li><span>by</span> <a href="#">John Doe</a></li>
														<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
													</ul>
												</div>
											</article>
											<!-- Post Article -->
											<article class="spost clearfix">
												<div class="entry-image">
													<a href="#"><img src="demos/news/images/posts/lifestyle/small/1.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4 class="t600"><a href="#">3 Ways To Have (A) More Appealing food</a></h4>
													</div>
													<ul class="entry-meta clearfix">
														<li><span>by</span> <a href="#">John Doe</a></li>
														<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
													</ul>
												</div>
											</article>
											<!-- Post Article -->
											<article class="spost clearfix">
												<div class="entry-image">
													<a href="#"><img src="demos/news/images/posts/lifestyle/small/2.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4 class="t600"><a href="#">Lifestyle Your Way to Success</a></h4>
													</div>
													<ul class="entry-meta clearfix">
														<li><span>by</span> <a href="#">John Doe</a></li>
														<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
													</ul>
												</div>
											</article>
										</div>
									</div>
								</div>
								<!-- Tab Content 3
								============================================= -->
								<div class="tab-pane fade" id="nav-fashion" role="tabpanel" aria-labelledby="nav-fashion-tab">
									<div class="row clearfix">
										<div class="col-lg-6">
											<!-- Post Article -->
											<article class="entry nobottomborder nobottommargin">
												<div class="entry-image mb-3">
													<a href="#"><img src="demos/news/images/posts/fashion/1.jpg" alt="Image 3"></a>
													<div class="entry-categories"><a href="#" class="bg-fashion">Fashion</a></div>
												</div>
												<div class="entry-title">
													<h3><a href="#">The Biggest Lie In Fashion</a></h3>
												</div>
												<ul class="entry-meta clearfix">
													<li><span>by</span> <a href="#">John Doe</a></li>
													<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
												</ul>
												<div class="entry-content clearfix">
													<p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis. Lorem ipsum dolor sit amet.</p>
												</div>
											</article>
										</div>
										<div class="col-lg-6">
											<!-- Post Article -->
											<article class="spost clearfix">
												<div class="entry-image">
													<a href="#"><img src="demos/news/images/posts/fashion/small/2.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4 class="t600"><a href="#">Top 10 Tips To Grow Your Fashion</a></h4>
													</div>
													<ul class="entry-meta clearfix">
														<li><span>by</span> <a href="#">John Doe</a></li>
														<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
													</ul>
												</div>
											</article>
											<!-- Post Article -->
											<article class="spost clearfix">
												<div class="entry-image">
													<a href="#"><img src="demos/news/images/posts/fashion/small/3.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4 class="t600"><a href="#">4 Ways You Can Grow Your Creativity Using Fashion</a></h4>
													</div>
													<ul class="entry-meta clearfix">
														<li><span>by</span> <a href="#">John Doe</a></li>
														<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
													</ul>
												</div>
											</article>
											<!-- Post Article -->
											<article class="spost clearfix">
												<div class="entry-image">
													<a href="#"><img src="demos/news/images/posts/fashion/small/4.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4 class="t600"><a href="#">5 Best Ways To Sell Fashion</a></h4>
													</div>
													<ul class="entry-meta clearfix">
														<li><span>by</span> <a href="#">John Doe</a></li>
														<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
													</ul>
												</div>
											</article>
											<!-- Post Article -->
											<article class="spost clearfix">
												<div class="entry-image">
													<a href="#"><img src="demos/news/images/posts/lifestyle/small/2.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4 class="t600"><a href="#">What Make Fashion Don't Want You To Know</a></h4>
													</div>
													<ul class="entry-meta clearfix">
														<li><span>by</span> <a href="#">John Doe</a></li>
														<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
													</ul>
												</div>
											</article>
											<!-- Post Article -->
											<article class="spost clearfix">
												<div class="entry-image">
													<a href="#"><img src="demos/news/images/posts/lifestyle/small/3.jpg" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4 class="t600"><a href="#">Best Fashion Android/iPhone Apps</a></h4>
													</div>
													<ul class="entry-meta clearfix">
														<li><span>by</span> <a href="#">John Doe</a></li>
														<li><i class="icon-time"></i><a href="#">11 Mar 2016</a></li>
													</ul>
												</div>
											</article>
										</div>
									</div>
								</div>
							</div><!-- Tab End -->
                        </div>
					</div>
                </div>
            </div>
        </section>